.trades {
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
}

.trades td {
  padding: 1em;
}

.trades th {
  color: var(--fg2);
}

.trades tr {
  text-align: center;
}

.trades-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .trades {
    display: none;
  }

  .trades-mobile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 1em;
  }
}
