.trades {
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
}

.trades td {
  padding: 1em;
}

.trades th {
  color: var(--fg2);
}

.trades tr {
  text-align: center;
}

.trades-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .trades {
    display: none;
  }

  .trades-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-content: center;
  }
}

@media (max-width: 1040px) {
  .trades-mobile  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .trades-mobile  {
    grid-template-columns: repeat(1, 1fr);
  }
}
