<div class="filter">
  <div class="tab-filter">
    <div class="select-wrapper control">
      <span class="arrow">↓</span>
      <select>
        <option>Default</option>
        <option>ROI</option>
        <option>Followers</option>
        <option>PNL</option>
      </select>
    </div>
    <input class="control" type="text" placeholder="Minimum amount of Solana">
    <div class="select-wrapper control">
      <input class="control" type="checkbox">
      <label>Hide Bots</label>
    </div>
    <input class="control" type="text" placeholder="Minimum amount of Deals">
    <input class="control" type="search" placeholder="🔎︎ Search by wallet">
  </div>

  <div class="tab-selector">
    <button class="control btn filter-control">Select profitable Wallets</button>
    <button class="control btn filter-control">Master Traders</button>
    <button class="control btn filter-control">Master CopyTraders</button>
  </div>

  <div class="tab-selector alternate">
    <button class="control btn filter-control">Fetch traders</button>
    <button class="control btn filter-control">Start auto Fetch</button>
    <button class="control btn filter-control">Stop auto Fetch</button>
  </div>
</div>
